


body{
    height: 100vh;
    background: url(images/night-light.jpg) center center / cover;
    font-family: 'Roboto', sans-serif;
    /* color: #ccc; */
    /* overflow: hidden; */
    margin:0;
    padding:0;
   
  
    
}

.navbar{
    margin-top:20px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: transparent;
}

h3{
    padding-left: 7rem;
    transform: translateY(-3.5rem)
}

.title-description{
    font-size:1rem;
    padding-left: 7rem;
    transform: translateY(-3.9rem);
}


/* head logo */
img{  
    transform: translateY(.75rem);  
}


ul.dropdown-menu{
    background-color: transparent; 
}



.navbar-toggler{
  
    transform: translateY(-2rem);

    
    
}

ul.dropdown-menu .dropdown-item{
    color: rgb(227, 79,38);
    
    
}
  


h1{
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    margin-left:2rem;
    margin-right:2rem;
}

.sub-heading p{
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:2rem;
    margin-left:3rem;
    margin-right: 2rem;
    line-height:2;
}



 .column{               /************* main container ******************/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 4rem;
    margin-top:3rem;
        
}

@media(min-width:768px){
    .column{
        flex-direction: row;
        margin-left:3rem;
        margin-right: 3rem;
        
    }

    body{
        overflow: hidden;
        background-repeat: no-repeat;
    }
   
}

@media(min-width:900px){
    .sub-heading, .front-end-sub-heading{
        margin-left:3rem;
        margin-right: 3rem;
        text-align: center;
    }

    .navbar{
        margin-right: 60px;
    }

    
}

@media(min-width:1500px){
    .sub-heading, .front-end-sub-heading{
        margin-left:20rem;
        margin-right:20rem;
        text-align: center;
    }
}



.card{
   background-color: transparent !important;
   color: #fff;
   border:none !important;
   position: relative;
    
    
}

.card img{
    padding-top:0;
    width:100%;
    transform: translateY(10rem) ;
    height: 20rem;   

}


.card-body{
    height:8rem;
    width:100%;
   
    transform: translateY(10rem) ;
    /* border: 1px solid #ccc; */
    font-size:.75rem;
    position: absolute;
    opacity:0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left:.25rem;
    margin-right: 1rem;
}


h5, p{
    transform: translateY(-1rem);
}

.btn{
    transform: translateY(-1.5rem);
}



/***************** card hover feature start ***********/
figure {
	/* width: 300px; */
	height:20rem;
	margin: 0;
	padding: 0;

}


.card figure img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.card figure:hover img {
    cursor: pointer;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
   
}

.card:hover .card-body{
    transition: 1s ;
    opacity:1;
    transform:translateY(23rem);
    background-color: rgba(0,0,0,0.3);
    border-radius:50%;
    z-index:-2;

}

/******* No Shadow effects  at mobile view ********/
@media (max-width:768px){

    .hyper{
        display: none;
    }

    .cs{
        display: none;
    }

    .js{
        display: none;
    }
}


/***************** card hover feature end ***********/

/*************** card-body text color *************/
.hyper{
    color: rgb(227, 79,38);
}

.cs{
    color: rgb(55, 105, 178);
}

.js{
    color: rgb(231, 200, 48);
}



/* .btn-read{
    background:transparent;
  color:#fff;
  border:none;
  position:relative;
  height:1.8rem;
  font-size:1rem;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius:1rem;
  z-index:3;
  transform:translateY(-5rem);
  transform:translateX(62rem);
  
  width:7.8rem;

} */

/****************** Read more button ******************/
/* .btn-read:hover{
    background:#fff;
    color:rgb(227, 79,38);
  }
  .btn-read:before,.btn-read:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(227, 79,38);
    transition:400ms ease all;
  }
  .btn-read:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-read:hover:before,.btn-read:hover:after{
    width:100%;
    transition:800ms ease all;
  } */
  
/********************* FRONT END PAGE START *****************************/
  .front-end-sub-heading p{
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:2rem;
    margin-left:2rem;
    margin-right: 2rem;
    line-height:2;
}

.front-end-sub-heading span a{
    display:flex;
    flex-direction: column;
}

.btn-front-end-sub-heading a{
    display:flex;
    line-height:1;
    width:50rem;
    border-radius: 2rem;
    z-index:0;
    transform:translateY(5rem);
    transform:translatex(-37rem);    
}


/********************* HYPER TEXT MARKUP  PAGE START *****************************/
.heading{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap:1rem;
    margin-left:1rem;
    margin-right:1rem;
}

.heading a{
    text-decoration: none;
    font-style: italic;
    color:#fff;   
}

.heading a:hover{
    text-decoration: underline;
    font-style: italic;
    color:rgb(227, 79,38);   
}

.hyper-h1{
    
    color:rgb(227, 79,38);
    grid-column: 1 / 4;
    grid-row: 1/ 2;
    margin-top: 0;
    text-align: center;     
}

img.hyper-logo{  
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-items: center;
    justify-content:center;
    width:100%;
    height:8rem;
    overflow:hidden;
    opacity: 0;     
}

#definition {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: justify;
    /* background-color:rgba(58, 57, 57, 0.8); */
    color :#fff;
    margin-top: 1rem;  
}

h5#history{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    text-align: center;
    color:rgb(227, 79,38);   
}

.history-definition{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    color:#fff;
    /* background-color:rgba(58, 57, 57, 0.7); */
    padding:1rem;
    text-align: justify;
}

h5#simple-document{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    text-align: center;
    color:rgb(227, 79,38);
    margin-bottom: 0;
    margin-top:2rem;
}

.html-code1 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;   
    width:100%;
    margin-top: 0;
    border: 2px solid rgb(227, 79,38); 
}

h5#anatomy-of-html{
   
    grid-column: 1 / 4;
    grid-row: 7 / 8; 
    color:rgb(227, 79,38);
    text-align: center;
    justify-content: center;
    margin-top:2rem;
}

.paragraph-anatomy{
    grid-column: 1 / 4;
    grid-row: 8 / 9;
    color:#fff;
}

.html-anatomy{
    grid-column: 1 / 4;
    grid-row: 9 / 10; 
    width:100%;
    border: 2px solid rgb(227, 79,38);
}

.main-parts-of-our-element{
    grid-column: 1 / 4;
    grid-row: 10 / 11; 
    text-align: justify;
    color:#fff;
}

.attribute-pic{
    grid-column: 1 / 4;
    grid-row: 11 / 12; 
    width:100%;
    margin-top: 0;
    border: 2px solid rgb(227, 79,38);
    
    
}
.paragraph-attribute{
    grid-column: 1 / 4;
    grid-row: 12 / 13;
    color:#fff;
    margin-top:2rem;
    text-align:justify;
 
}

.attribute-must-have{
    grid-column: 1 / 4;
    grid-row: 13 / 14;
    color:#fff;
    text-align:justify;
    
}
.attribute-must-have-pic{
    width:100%;
    border: 2px solid rgb(227, 79,38);
}

.nesting-elements{
    grid-column: 1 / 4;
    grid-row: 14 / 15;
    color:#fff;
    text-align:justify;
    margin-top:2rem;
    
}
.nesting-elements h5{
    text-align: center;
    color:rgb(227, 79,38);
    margin-top:0;
}

.nesting-pic{
    width: 100%;
    border: 2px solid rgb(227, 79,38);
}

.nesting-elements2{
    grid-column: 1 / 4;
    grid-row: 15 / 16;
    color:#fff;
    text-align:justify;
    margin-top:2rem
}

.nesting-pic2{
    width: 100%;
    border: 2px solid rgb(227, 79,38);
    
}



@media (min-width:767px){

    .heading{
        display:grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr;
        gap:2rem;
        text-align: center;   
        column-gap: .5rem;
    }

    .hyper-sidebar{
        /* background-color:rgba(58, 57, 57, 0.7); */
        grid-column: 1 / 2;
        grid-row: 1 / 6;
        margin-top: .8rem;  
    }

    img.hyper-logo{
        grid-column:2 / 4 ;
        grid-row: 1 / 2;
        opacity:1;
    }

    .hyper-h1{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        margin-top:0;
        align-items: center;
        justify-content: center; 
    }

    #definition{
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    h5#history{
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        margin-top: 0;
    }

    .history-definition{
        grid-column: 2 / 4;
        grid-row: 5 / 6;
        text-align:justify;  
    }

    h5#simple-document{
        grid-column: 2 / 4;
        grid-row: 6 / 7;
        text-align: center;
        color:rgb(227, 79,38);
        margin-bottom: 0;
        margin-top: 0;
        height: 100%;
    }

    .html-code1 {
        grid-column: 2 / 4;
        grid-row: 7 / 8;
        width:100%;
        margin-top: 0;   
    }

    h5#anatomy-of-html{
        grid-column: 2 / 4;
        grid-row: 8 / 9;
    }

    .paragraph-anatomy{
        grid-column: 2 / 4;
        grid-row: 9 / 10;
        color:#fff;
        text-align: left;
    }

    .html-anatomy{
        grid-column: 2 / 4;
        grid-row: 10 / 11; 
        width:100%;
        
    }

    .main-parts-of-our-element{
        grid-column: 2 / 4;
        grid-row: 11 / 12; 
        text-align: justify;
        color:#fff;
        margin-top: 0;
    }
    .main-parts-of-our-element p{
        text-align: center;
    }

    .attribute-pic{
        grid-column: 2 / 4;
        grid-row: 12 / 13; 
        width:100%;
        margin-top: 0;
        /* border: 2px solid rgb(227, 79,38); */
        
        
    }

    .paragraph-attribute{
        grid-column: 2 / 4;
        grid-row: 13 / 14;
        color:#fff;
        margin-top:1rem;
        text-align:justify;
     
    }

    .attribute-must-have{
        grid-column: 2 / 4;
        grid-row: 14 / 15;
        text-align:justify;
     
        
    }

    .nesting-elements{
        grid-column: 2 / 4;
        grid-row: 15 / 16;
        margin-top:2rem;
        
    }

    .nesting-pic{
        margin-top: 0;
    }

    .nesting-elements2{
        grid-column: 2 / 4;
        grid-row: 16 / 17;
        color:#fff;
        text-align:justify;
        margin-top:2rem
    }

}

/******************* HTML PAGE sidebar *********************/

.hyper-body{
    overflow:visible;
    background: url("images/spaceship.gif")no-repeat center center fixed;

}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 4px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: rgb(227, 79,38);
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(227, 79,38);
    /* padding: 10px 15px; */
    border: none;
    /* position:fixed; */
    
    
  }

  @media(min-width:900px){
    .openbtn{
        display:none;
    }
  }


  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 10px 15px;
    font-size: 20px;
    
  }

  .homebtn{
    color:rgb(227, 79,38);
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    
  }
